extends layout
block content
  head
    title Blood² Login
  script.
    function move() {
      window.location.href = '/temp'
    }

  #wrapper
    h1 Blood²
      #logIn
        fieldset.log
          legend Login to Web App
          p
            input#email(type='text' , name='NewLog', placeholder='Email')
          p
            input#pass(type='password', name='NewPass', placeholder='Password')
          p.remember_me
            label
              input(type='checkbox', name='remember_me')
              | 			Remember me
          p
            button#btnLogIn Log in
            // button(onclick="move()") Log in

    #addUser
      fieldset
        legend Create New Account OR Guest Access
        p
          input#inputUserEmail(type='text', placeholder='Email')
        p
          input#inputPassword(type='password', placeholder='Password')
        p
          input#inputFirstName(type='text', placeholder='First Name')
        p
          input#inputLastName(type='text', placeholder='Last Name')
        p
          input#inputBloodType(type='text', placeholder='Blood Type')
        p
          input#inputLocation(type='text', placeholder='Zip-Code')
        p
          input#inputVisits(type='text', placeholder='visits')
        p Date of Birth
          br
          input#inputDob(type='date')
        p.remember_me
          label
            input(type='checkbox', name='remember_me')
            |  Remember me
        p
          button#btnAddUser Add User
    br
    br
    br
    br
    br
    br
    p
      #error
        h4 DEBUG

    #userInfo
      h4 User Info
      p
        strong Name:
        |  <span id='userInfoName'></span>
        br
        strong Zip:
        |  <span id='userInfoLocation'></span>
        br
        strong Blood Type:
        |  <span id='userInfoBloodType'></span>
        br
        strong Date of Birth:
        |  <span id='userInfoDoB'></span>
        br
        strong Visits:
        |  <span id='userInfoVisits'></span>

    h4 User List
    #userList
      table
        thead
          th fname
          th Email
          th Delete?
        tbody
