html
  body
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='/javascripts/calendarFunctions.js')
    script(src='/javascripts/global.js')
    script.
      function move() {
        window.location.href = '/temp'
      }
    h1
      link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    // Wrapper
    #wrapper
      // Calendar List
      // Calendar LIST
      button#btnHome.button(onclick="move()")
        span Back to home
      h2 Calendar List
      #calendarList
        table
          thead
            th Date
            th Time
            th Station
            th Location
            th Operator
            th Patient
          tbody
      // /Calendar LIST
      // ADD Calendar Event
      h2 Add Calendar Event
      #addCalendar
        fieldset
          input#inputDate(type='date')
          br
          input#inputTime(type='time')
          br
          input#inputLocation(type='number', placeholder='Location')
          input#inputStation(type='number', placeholder='Station')
          br
          input#inputOp(type='text', placeholder='Operator')
          input#inputPatient(type='text', placeholder='Patient')
          br
          button#btnAddCalendar.button Add Calendar Event
      // /Add Calendar Event
    // /WRAPPER
