doctype html
html
  title Blood² Home
  link(rel='stylesheet', type='text/css', href='/stylesheets/style2.css')
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
  script(src='/javascripts/temp.js')
  script.
    function move() {
      window.location.href = '/scheduling'
    }
    function move2() {
      logout();
      // window.location.href = '/'
    }
  button.button(onclick="move()") Schedule an appointment
  button.button(onclick="move2()") Log out
  br
  br
  h1
    | Upcoming events
    br
  body
    #nextWeek
      table
        thead
          th Monday
          th Tuesday
          th Wednesday
          th Thursday
          th Friday
          th Saturday
          th Sunday
          th
        tbody
    br
    
    // Calendar LIST
    h2 Calendar List
    #calendarList
      table
        thead
          th Hour
          th Minute
          th Station
          th Delete?
        tbody
    // /Calendar LIST
    
  h4
    | User Info
    p
      strong Name:
      |  <span id='userInfoName'></span>
      br
      strong Zip:
      |  <span id='userInfoLocation'></span>
      br
      strong Blood Type:
      |  <span id='userInfoBloodType'></span>
      br
      strong Date of Birth:
      |  <span id='userInfoDoB'></span>
      br
      strong Visits:
      |  <span id='userInfoVisits'></span>
