body {
    background-color: lightblue;
}

h1 {
    color: navy;
	text-align: center;
	font: 30px arial, sans-serif;
}
h4 {
    color: navy;
	text-align: center;
	font: 20px arial, sans-serif;
}
p {
	text-align: center;
	font: 15px arial, sans-serif;
}
#error {
	background-color:yellow;
    color: red;
	text-align: center;
	font: 17px arial, sans-serif;

}
body {
    background-image: url("/images/img1.png");
    background-repeat: no-repeat;
	background-attachment: fixed;
    background-position: right bottom;
}
table {
	margin-left:auto;
    margin-right:auto;
    font: 100% Verdana, Arial, Helvetica, sans-serif;
	border: 2px solid black;
    table-layout: fixed;
    border-collapse: collapse;
    width: auto;
}
th {
    padding: 0 0.5em;
	border: 2px solid black;
	border-collapse: collapse;
    text-align: center;
    background-color:white;
    color:black;
}
td  {
    font-size: medium;
    padding: 0.25em 0.25em;
    width: 14%;
    height: 15px;
    text-align: left;
    vertical-align: top;
	border: 2px solid black;
	border-collapse: collapse;
	background-color:white;
    color:black;
}
.date  {
    font-size: large;
    padding: 0.25em 0.25em;
    text-align: left;
    vertical-align: top;
}
fieldset {
	margin: 0 auto;
	text-align: left;
	width: 400px;
    border-color:navy;
    border-style: solid;
}
fieldset.log {
	margin: 0 auto;
	text-align: left;
	width: 250px;
    border-color:navy;
    border-style: solid;
}
form
{
    text-align: center;
}
legend {
	font: 20px arial, sans-serif;
	border:1px solid navy;
	color:navy;
	text-align:center;
}
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: navy;
  border: none;
  color: white;
  text-align: center;
	font: 12px arial, sans-serif;
  padding: 10px;
  width: 80px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '<<';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -40px;
  transition: 0.5s;
}
.button:hover {
    background-color: #33A1DE;
}

.button:hover span {
  padding-left: 20px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
